<div class="container outline text min-vh-100">
  <div class="insideDiv">
    <div class="row justify-content-center">
      <h4 class="title">請問，<b>誰</b>是兇手？</h4>
    </div>
    <div class="row text-center">
      <div class="col-12">
        <a href="/result/1" > 
          <button type="button" class="btn btn-warning button"  >聚聚</button>
        </a>
      </div>
      <div class="col-12">
        <a href="/result/2">
          <button type="button" class="btn btn-warning button">小樂</button>
        </a>
      </div>
      <div class="col-12">
        <a href="/result/3">
          <button type="button" class="btn btn-warning button">阿邦</button>
        </a>
      </div>
    </div>
  </div>
</div>
<!--div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
  <p (click)="toggle()"> The box is now {{ isOpen ? 'Open' : 'Closed' }}!</p>
</div-->